* { 
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}
.App {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

.environment {
  width: 200px;
  height: 610px;
  text-align: center;
  flex-grow: 1;
  border: solid;
  border-width: 1px 1px 1px 1px;
}

.game {
  height: 610px;
  width: 600px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border: solid;
  border-width: 1px 1px 1px 1px;
}

.score {
  width: 200px;
  height: 610px;
  text-align: center;
  color: white;
  background-color: black;
  flex-grow: 1;
  border: solid;
  border-width: 1px 1px 1px 1px;
}

.environment {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  flex-wrap: wrap;
  color: white;
  background-color: black;
  border: solid;
  border-width: 1px 0px 1px 1px;
}
.box {
  border: solid;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-width: 1px 1px 1px 1px;
}

.active {
 background-color: blue; 
 height: 100%;
}

.non-Active {
  background-color: red; 
  height: 100%; 
 }

 .submit {
  display: flex;
  justify-content: center;
  border-radius: 25px;
  align-self: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 100px;
  background-color: #4CAF50;
  color: white;
 }

 .start {
  display: flex;
  justify-content: center;
  border-radius: 25px;
  align-self: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 100px;
  background-color: #4CAF50;
  color: white;
 }

 .submission {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-self: center;
 }

 